li {
  display: inline;
  margin: 1em;
  transition:0.5s;
}

li:hover {
  background: white;
  color:black;
  cursor: pointer;
  border-radius:5px;
  transition:0.5s;
}

.options {
  flex:1;
  align-items:center;
  justify-content:center;
  text-align:center;
}

#slider {
  background: green;
}

.main-content {
  display:inline-block;
  height: 100vh;
  background-image: url('../../assets/VPlogo.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  width:80vw;
}

.home-player {
  width:100vw;
  background: black;
}

