.single-song {
  margin:1em;
  border: 1px solid lightgrey;
  width:20vw;
  height:10vh;
  text-align:right;
  font-size:.7em;
  transition:2s;
}

.single-song:hover {
  font-size:.9em;
  height:11vh;
  width:21vw;
  transition:2s;
}

footer {
  position:fixed;
  bottom:0;
}

.music-player {
  width:100em;
  background:black;
  color:white;
}

.song-title {
  pointer-events: none;
  cursor:pointer;
}

.song-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
}

.current-song {
  margin-bottom: .5em;
  margin-left:.5em;
}
