.nav-option {
  text-decoration: none;
  font-size:2em;
  color:yellow;
  float:left;
  margin:0px 0px 1.5em 0px;
  width:100%;
} 


.top-nav {
  list-style: none;
  padding: 0;
  background: black;
  width:15vw;
  height: 100vh;
  display:inline-flex;
  flex-direction: column;
  position: fixed
}


